streamlit
google-generativeai
python-dotenv
langchain
PyPDF2
chromadb
faiss-cpu
langchain_google_genai
openai
huggingface_hub
tiktoken
cassio
datasets
sentence-transformers
uvicorn
ctransformers
python-box
unstructured
pinecone-client
pypdf
pandas
numpy